/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 1.5rem 0; /* Increased padding */
    height: 50px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img.nav-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem; /* Increased font size */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.nav-links li {
    margin-left: 2.5rem; /* Increased margin */
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem; /* Increased font size */
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/* About Section */
#about {
    padding: 2rem 0;
    text-align: center;
    flex: 1; /* Ensure the about section grows to fill space */
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.downloads {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.download-btn {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #555;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0; /* Increased padding */
    position: relative;
    margin-top: auto; /* Pushes footer to the bottom */
    height: 50px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-links {
    margin-top: 1rem;
}

footer .social-links a {
    margin: 0 0.5rem;
    color: #fff;
    font-size: 2rem; /* Font size for icons */
    transition: transform 0.3s ease;
}

footer .social-links a:hover {
    transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}
